<body>
    <div class="services">
        <div class="heading">
            <h1>Our Services</h1>
        </div>
        <div class="inner ser1">
            <div class="img">
                <img src="assets/images/p-e-01.jpg" alt="">
            </div>
            <div class="desc">
                <h1>Product Development</h1>
                Product development is all about strategy. We collaborate from the beginning to identifcessfully define, build, and evolve compelling and high-performing products.
            </div>
        </div>
        <div class="inner ser2">
            <div class="img">
                <img src="assets/images/p-e-02.jpg" alt="">
            </div>
            <div class="desc">
                <h1>Embedded Systems</h1>
                Product e you by determining the right-sized delivery strategy so that you can quickly obtain customer feedback. Our experienced product development team is ready to partner closely to successfully define, build, and evolve compelling and high-performing products.
            </div>
        </div>
        <div class="inner ser3">
            <div class="img">
                <img src="assets/images/p-e-03.jpg" alt="">
            </div>
            <div class="desc">
                <h1>Product Sustenance & Maintenance</h1>
                Product ape your strategy. ight-sized delivery strategy so that you can quickly obtain customer feedback. Our experienced product development team is ready to partner closely to successfully define, build, and evolve compelling and high-performing products.
            </div>
        </div>
    </div>
</body>