<body>
    <div class="container-top">
        <div class="inner inner-1">
            <img src="assets/images/Application-software-trends-2020.jpg" alt="">
            <h3>Agile</h3>
        </div>
        <div class="inner inner-2">
            <img src="assets/images/software-developer-coding.jpg" alt="">
            <h3>Innovative</h3>
        </div>
        <div class="inner inner-3">
            <img src="assets/images/Application-software-trends-2020.jpg" alt="">
            <h3>Simple</h3>
        </div>
    </div>
    <div class="container-bot">
        <p>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.</p>
        <ul>
            <li>
                Core engineering company with a culture of constant innovation with outstanding track record.
            </li>
            <li>
                Commitment to quality with ISO 9001:2015 and ISO 13485:2016 certifications.
            </li>
            <li>
                Proven engineering experience in Enterprise Applications, Product Engineering, Embedded systems and Solutions based on New-Gen technologies – Cloud, Mobile, AI & ML, Industrial IoT, CV, and AR.
            </li>
            <li>
                Flexible engagement models and willingness to invest in long term partnerships.
            </li>
        </ul>
    </div>
</body>
